<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Poca - Podcast &amp; Audio Template">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Hylinx | upload</title>

  <!-- Favicon -->
  <link rel="icon" href="{{url_for('static', filename='images/core-img/favicon.ico')}}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preloader-thumbnail">
      <img src="{{url_for('static', filename='images/core-img/preloader.png')}}" alt="">
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="pocaNav">

          <!-- Logo 
          <a class="nav-brand" href="index.html"><img src="./img/core-img/logo.png" alt=""></a>
			-->
			<a href="/home" style="font-size:30px; color:white;" >Hylinx</a>
          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">

            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
              {% if not g.user %}
                <li><a href="signin">Sign In</a></li>
			  {% else%}
			    <li><a href="logout">Log Out</a></li>
			  {% endif %}
                <li><a href="#">Pages</a>
                  <ul class="dropdown">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/upload">Upload</a></li>
					<li><a href="songs">Songs</a></li>
					<li><a href="about">About</a></li>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

              <!-- Top Search Area -->
              <div class="top-search-area">
                <form action="index.html" method="post">
                  <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                  <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
              </div>

              <!-- Top Social Area -->
              <div class="top-social-area">
                <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                <a href="#" class="fa fa-pinterest" aria-hidden="true"></a>
                <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                <a href="#" class="fa fa-youtube-play" aria-hidden="true"></a>
              </div>

            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(static/images/bg-img/2.jpg);">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title mt-70">Upload</h2>
        </div>
      </div>
    </div>
  </div>
  
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/home"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Upload</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->
  <p>
  Upload a song now, get likes and get
  hyped.
  {% if message != None %}
  <p>✔Successfully uploaded {{message}}</p>
  {% endif%}
  </p>
  <form method="post" enctype="multipart/form-data">
	<div class="container">
		<label for="song_file" style="position:relative; left:20%; text-align:center; border:1px solid #8080ff; padding:10px; color:white; background-color:#8080ff; width:60%;" >Choose A Song <i class="fa fa-music"></i></label>
		<input type="text" class="form-control add-forms" placeholder="Artist Name" name="artist_name" value="{{request.form.artist_name}}" required/>
		<input type="text" class="form-control add-forms" placeholder="Song Title" name="song_title" value="{{request.form.song_title}}" required/>
		<input placeholder="Choose a category" class="form-control add-forms" list="songtype" name="type" value="{{request.form.type}}">
		<datalist id="songtype">
		  <option value="Reggae">
		  <option value="HiLife">
		  <option value="HipLife">
		  <option value="Dancehall">
		</datalist>
		<textarea class="form-control add-forms" placeholder="Add Comments" name="comments" value="{{request.form.comments}}" required></textarea>
  		<input required style="visibility:hidden;" type="file" name="song_file" id="song_file"><br/>
  		<input type="submit" value="upload" style="position:relative; left:30%; text-align:center; bottom:20px; border:1px solid #8080ff; padding:10px; color:white; background-color:#8080ff; width:40%;" ></label>
  	</div>
	
  </form>

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">About Us</h4>

            <p>It is a long established fact that a reader will be distracted by the readable content.</p>
            <div class="copywrite-content">
              <p>&copy; 

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Categories</h4>

            <!-- Catagories Nav -->
            <nav>
              <ul class="catagories-nav">
                <li><a href="#">Entrepreneurship</a></li>
                <li><a href="#">Media</a></li>
                <li><a href="#">Tech</a></li>
                <li><a href="#">Tutorials</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Lastest Songs</h4>

			{% if new_audios|length >= 2 %}
            <!-- Single Latest Episodes -->
            <div class="single-latest-episodes">
              <p class="episodes-date">{{new_audios[-1].date_added}}</p>
              <a href="view/{{new_audios[-1].id}}" class="episodes-title">{{new_audios[-1].song_title}}</a>
            </div>
            <!-- Single Latest Episodes -->
            <div class="single-latest-episodes">
              <p class="episodes-date">{{new_audios[-2].date_added}}</p>
              <a href="view/{{new_audios[-2].id}}" class="episodes-title">{{new_audios[-2].song_title}}</a>
            </div>
          </div>
          {%else%}
          <div class="single-latest-episodes">
          <h4><li class="fa fa-times">No song Available</li></a>
          </div>
        {%endif%}
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-footer-widget mb-80">
            <!-- Widget Title -->
            <h4 class="widget-title">Follow Us</h4>
            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
            </div>
            <!-- App Download Button -->
            <div class="app-download-button mt-30">
              <a href="#"><img src="{{url_for('static',filename='images/core-img/app-store.png')}}" alt=""></a>
              <a href="#"><img src="{{url_for('static',filename='images/core-img/google-play.png')}}" alt=""></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <!-- Popper js -->
  <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  <!-- Bootstrap js -->
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <!-- All js -->
  <script src="{{url_for('static', filename='js/poca.bundle.js')}}"></script>
  <!-- Active js -->
  <script src="{{url_for('static', filename='js/default-assets/active.js')}}"></script>
	  	  
</body>

</html>